<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp-5</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
            <div class="nav_sfondo"></div>
            <div id="app">
                <div class="container d_flex">
                        <!-- aside -->
                        <aside>
                            <!-- utente -->
                            <div class="utente d_flex">
                                <!-- parte sinistra -->
                                <div class="utente_left d_flex">
                                    <img src="./assets/img/avatar_7.jpg">
                                    <h3>Nome Utente</h3>
                                </div>
                                <!-- /parte sinistra -->
                                <!-- parte destra -->
                                <div>
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                                <!-- /parte destra -->
                            </div>
                            <!-- /utente -->

                            <!-- notifiche -->
                            <div class="notifiche d_flex">
                                <i class="fas fa-bell-slash"></i>
                                <div>
                                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <!-- /notifiche -->

                            <!-- input -->
                            <div class="input_container d_flex">
                                <div class="input d_flex">
                                    <i class="fas fa-search"></i>
                                    <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="cercaNome" @keyup="ricerca">
                                </div>
                            </div>
                            <!-- /input -->

                            <!-- contatti -->
                            <div class="contatti">
                                <ul>
                                    <li v-for="(contatto, index) in contatti" @click="avviaChat(contatto)" v-if="contatto.visible"><img :src="`assets/img/avatar${contatto.avatar}.jpg`" alt=""> {{contatto.name}}<div class="ultimo" v-for="(messaggio, index) in contatto.messages" v-if="index == (contatto.messages.length -1)">{{messaggio.text}} <div>{{messaggio.date}}</div></div></li>
                                </ul>
                            </div>
                            <!-- /contatti -->

                        </aside>
                        <!-- /aside -->

                        <!-- container generale chat -->
                        <div class="chat_container d_flex">
                            <!-- container dell'utente in chat -->
                            <div class="utente_chat_container">
                                <div class="utente_chat d_flex" v-for="contatto in chatAttiva">
                                    <span class=" contatto_accesso d_flex">
                                        <!-- immagine dell'utente in chat -->
                                        <img :src="`assets/img/avatar${contatto.avatar}.jpg`" alt="">
                                        <!-- /immagine dell'utente in chat -->
                                        <!-- nome e ultima data di accesso dell'utente -->
                                        <div class="d_flex">
                                            <h3>{{contatto.name}}</h3>
                                            <span v-for="(messaggio, index) in contatto.messages" v-if="index == (contatto.messages.length -1)">Ultimo accesso {{messaggio.date}}</span>
                                        </div>
                                        <!-- /nome e ultima data di accesso dell'utente -->
                                    </span>
                                    <!-- icone barra della chat attiva -->
                                    <span><i class="fas fa-search"></i><i class="fas fa-paperclip"></i> <i class="fas fa-ellipsis-v"></i></span>
                                    <!-- /icone barra della chat attiva -->                      
                                </div>
                            </div>
                            <!-- /container dell'utente in chat -->
                            <!-- chat -->
                            <div class="chat">
                                <div v-for="contatto in chatAttiva">
                                    <!-- lista messaggi di default -->
                                    <template v-for="(messaggio,index) in contatto.messages">
                                        <div class="inviato"  v-if="messaggio.status === 'sent'">{{messaggio.text}} <i class="fas fa-chevron-down" > <div class="menu"><div class="info">Message info</div><div class="delete" @click="cancella(index)">Delete message</div></div></i><br><div class="data">{{messaggio.date}}</div></div>
                                        <div class="ricevuto"  v-else="messaggio.status === 'received'">{{messaggio.text}}<i class="fas fa-chevron-down" > <div class="menu"><div class="info">Message info</div><div class="delete" @click="cancella(index)">Delete message</div></div></i><br><div class="data">{{messaggio.date}}</div></div><br>
                                    </template>
                                    <!-- /lista messaggi di default -->
                                    <!-- nuovo messaggio -->
                                    {{nuovoMes.text}}
                                    <!-- /nuovo messaggio -->
                                </div>
                            </div>
                            <!-- /chat -->
                            <!-- barra grigia in basso dove ci sono icone e un input -->
                            <div class="messaggio d_flex">
                                <i class="far fa-smile"></i>
                                <input type="text" placeholder="Scrivi un messaggio" v-model="nuovoMes" @keyup.enter="invia">
                                <i class="fas fa-microphone"></i>
                            </div>
                            <!-- /barra grigia in basso dove ci sono icone e un input -->
                        </div>
                        <!-- /container generale chat -->

                </div>
            </div>

        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>