<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp-1</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>

            <div id="app">
                <div class="container d_flex">
                        <!-- aside -->
                        <aside>
                            <!-- utente -->
                            <div class="utente d_flex">
                                <!-- parte sinistra -->
                                <div class="utente_left d_flex">
                                    <img src="./assets/img/avatar_7.jpg">
                                    <h3>Nome Utente</h3>
                                </div>
                                <!-- /parte sinistra -->
                                <!-- parte destra -->
                                <div>
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                                <!-- /parte destra -->
                            </div>
                            <!-- /utente -->

                            <!-- notifiche -->
                            <div class="notifiche d_flex">
                                <i class="fas fa-bell-slash"></i>
                                <div>
                                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <!-- /notifiche -->

                            <!-- input -->
                            <div class="input_container d_flex">
                                <div class="input d_flex">
                                    <i class="fas fa-search"></i>
                                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                            <!-- /input -->

                            <!-- contatti -->
                            <div class="contatti">
                                <ul>
                                    <li v-for="(contatto, index) in contatti" @click="avviaChat(contatto)"><img :src="`assets/img/avatar${contatto.avatar}.jpg`" alt=""> {{contatto.name}}</li>
                                </ul>
                            </div>
                            <!-- /contatti -->

                        </aside>
                        <!-- /aside -->

                        <div class="chat_container d_flex">
                            <div class="utente_chat_container">
                                <div class="utente_chat d_flex" v-for="contatto in chatAttiva"><span class=" contatto_accesso d_flex"><img :src="`assets/img/avatar${contatto.avatar}.jpg`" alt=""><div class="d_flex"><h3>{{contatto.name}}</h3><span>Ultimo accesso oggi alle</span></div></span><span><i class="fas fa-search"></i><i class="fas fa-paperclip"></i> <i class="fas fa-ellipsis-v"></i></span></div>
                            </div>
                            <div class="chat" v-for="messaggio in messaggi">
                                {{messaggio.messages}}
                            </div>
                            <div class="messaggio d_flex">
                                <i class="far fa-smile"></i>
                                <input type="text" placeholder="Scrivi un messaggio">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>

                </div>
            </div>

        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>